#main_contents {
    background: #fff;

    display: flex;
    justify-content: space-between;

    border: 1px solid red;
}


#main_contents .container {
    background: orange;
    width: 80%;
    
    border: 1px solid red;
    height: fit-content;

}


